html,body{
    height: 100%
}

body, row{
    background-color: white;
}

.nav-item > a:hover {
    color: rgb(209, 182, 133) !important;
  }


.carousel-caption{
    text-shadow: black 0.3em 0.3em 0.4em;
    text-align: center;
}
@media (max-width: 1000px) { 
    .carousel-caption{
        font-size: 80%;
    }

}

@media (min-width: 1000px) { 

    .carousel-item :active >img{
        object-fit:cover;
        object-position:center;
    }
    .carousel{
        width:50%;
        margin: auto;
        min-height:500px;
        max-height:860px;
        }
}

#carouselSwipe{
    margin-top: 5%;
}

#paragraphs{
    margin: auto;
    width: 50%;
    padding: 10px;
}

#paragraphs p{
    padding: 10%;
}

#contact{
    padding: 5%;
}

#contact, #backTop{
    text-align: center;
}

#backTop{
    padding: 10px;
}

#icone-list li{
    display: inline ; 
    list-style-type: none;
    padding-right: 20px;
}

h2{
    text-align: center;
}

h5{
    padding: 5%;
}
  footer{
      background-color: rgb(52, 58, 64);
      color: white;
  }

  