html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
header, footer {
    position: fixed;
    width: 100%;
}

main{
    height: 100%;
    border-top: 30px solid white;
    background-color: black;
}

footer{
    background-color: rgb(240, 159, 101);
    bottom: 0;
}

p {
    color: red;
    text-align: center;
  }
